.fl-msc-btn-bar {
  display: inline-flex;
  flex-flow: row nowrap;
  background-color:  lighten($blue, 20%);
  text-align: center;
}

.fl-msc-btn-bar-btn {
  flex: 1 1 2em;
  border: none;
  white-space: nowrap;
  vertical-align: bottom;
  background-color: inherit;
  &:hover{
    filter: brightness(105%);
  }
}

.fl-msc-btn-bar-datepicker {
  display: inline;
  position: relative;
  flex: 2 0 10em;
  font-size: inherit;
  // &::-webkit-datetime-edit,
  // &::-webkit-inner-spin-button,
  // &::-webkit-clear-button{
  //   display:none;
  // }
  // &::-webkit-calendar-picker-indicator,
  // &::-webkit-calendar-picker-indicator:hover{
  //   background-color: $blue;
  //   opacity: 0;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   margin: auto;
  //   width: 100%;
  //   height: 100%;
  //   // background-color: red;
  // }
}
