.fl-msc-CalendarContainer {
  color: $c-text;
  background-color: $c-plain-background;
  display: inline-block;
  font-family: 'Helvetica', 'sans-serif';
  font-size: $s-font-medium;
  box-sizing: border-box;
  max-width: 100%;
}

.fl-msc-CalendarContainer-panelWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;

  position: relative;
  max-height: $s-panelWrapper-height;
  background-color: inherit;
}
