.fl-msc-CalendarContainer {
  color: $c-text;
  background-color: $c-plain-background;
  display: inline-block;
  font-family: 'Helvetica', 'sans-serif';
  font-size: 12px;
  box-sizing: border-box;
}

.fl-msc-CalendarContainer-panelWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;

  max-height: $s-DateBar-height + 20 * $s-day-height;
  max-width: 40 * $s-day-width;

  overflow-y: scroll;
  overflow-x: visible;
}
