.cal-rows-wrapper {
  max-height: 100px;
  overflow: scroll;
  // display: block;
}

.cal-heading-wrapper {
  // display: block;
}

.multi-sub-cal-container {
  display: block;
  width: 100%;

  .cal-phantom-el{
    display: block;
    // background-color: rgba(255,0,0,.1);
    min-height: 100px;
  }
}

.multi-sub-calendar {
  position: absolute;

  //Disable selection for the table dragging
 -webkit-user-select: none;   /* Chrome/Safari/Opera */
 user-select: none;

  tr:not(.th):hover  {
    -webkit-filter: brightness(90%);
    filter:brightness(90%);
  }

  td, th {
    padding: 0;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    max-width: 30px;
  }

  th {
    background-color: lighten($blue, 20%);
    padding: 0 5px;
    overflow: hidden;
  }

  td:first-of-type {
    background-color: white;
    max-width: none;
  }

  td {
    border: 5px solid transparent;
    background-color: lighten($green, 20%);
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    //Hover on all td except for the first one
    &:not(:first-child):hover {
      -webkit-filter: brightness(130%);
      filter:brightness(130%);
    }
  }

  .half-busy {
    background-color: lighten($yellow, 22%) !important;
  }

  .busy {
    background-color: lighten($red, 20%) !important;
  }

  .month0 {
    background-color: lighten($red, 20%) !important;
  }

  .month1 {
    background-color: lighten($green, 30%) !important;
  }

  .month2 {
    background-color: lighten($dark-blue, 20%) !important;
  }

}
