.fl-msc {
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: 'Helvetica', 'sans-serif';
}

.fl-msc-subjects {
  max-height: 100px;
  overflow: scroll;
  // display: block;
}

.fl-msc-header {
  // display: block;
}


.cal-phantom-el{
  display: block;
  // background-color: rgba(255,0,0,.1);
  min-height: 100px;
}

.fl-msc-table {
  position: absolute;
  //Disable selection for the table dragging
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  user-select: none;
}

.fl-msc-subject:hover  {
  -webkit-filter: brightness(90%);
  filter:brightness(90%);
}

.fl-msc-day,
.fl-msc-subject-name,
th {
  margin: 5px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  font-size: inherit;
}

th {
  background-color: lighten($blue, 20%);
  padding: 0 5px;
  overflow: hidden;
}

.fl-msc-subject-name {
  background-color: white;
  max-width: none;
}

.fl-msc-day,
.fl-msc-header-date {
  min-width: 1em;
  max-width: 1em;
  min-height: 1em;
  max-height: 1em;
}
.fl-msc-day {
  border: 5px solid transparent;
  background-color: lighten($green, 20%);
  
  &:hover {
    -webkit-filter: brightness(130%);
    filter:brightness(130%);
  }
}

.half-busy {
  background-color: lighten($yellow, 22%);
}

.busy {
  background-color: lighten($red, 20%);
}

.month0 {
  background-color: lighten($red, 20%);
}

.month1 {
  background-color: lighten($green, 30%);
}

.month2 {
  background-color: lighten($dark-blue, 20%);
}
