.fl-msc-CalendarContainer {
  color: $c-text;
  background-color: $c-plain-background;
  display: inline-block;
  font-family: 'Helvetica', 'sans-serif';
  font-size: $s-font-medium;
  box-sizing: border-box;
  max-width: 100%;
}

.fl-msc-CalendarContainer-panelWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;

  position: relative;
  max-height: $s-DateBar-height + 20 * $s-day-height;

  overflow-y: scroll;
  overflow-x: visible;
  background-color: inherit;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid $c-border;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-button-background;
    border: 1px solid $c-border;
    border-radius: 10px;
  }
}
