.fl-msc-DateBar {
  display: inline-block;
  position: relative;
  height: $s-DateBar-height;
  z-index: 1;

  flex: 0 0;
  box-sizing: inherit;
  background-color: inherit;
}

.fl-msc-DateBar-monthRow,
.fl-msc-DateBar-dayRow {
  box-sizing: border-box;

  display: inline-flex;
  align-content: stretch;
  flex-flow: row nowrap;
  text-align: center;
}

.fl-msc-DateBar-month {
  box-sizing: inherit;

  display: inline-block;
  height: $s-day-height;

  background-color: $c-button-background;
  color: $c-button-text;

  border: 2px solid $c-plain-background;

  @for $i from 1 through 32 {
    &-#{$i} {
      width: calc(#{$s-day-width} * #{$i});
    }
  }
}

.fl-msc-DateBar-day {
  box-sizing: border-box;
  display: inline-block;

  width: $s-day-width;
  height: $s-day-height;
  border: $s-day-border-width solid transparent;
}
