.fl-msc-DatesPanel {
  background-color: inherit;
  max-width: calc(100% - #{$s-LabelsBar-width});
  max-height: 100%;
}


.fl-msc-DatesPanel-subjectsContainer {
  box-sizing: inherit;
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
  height: $s-panelWrapper-height - $s-DateBar-height;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid $c-border;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-button-background;
    border: 1px solid $c-border;
    border-radius: 10px;
  }
}

.fl-msc-SubjectRow {
  box-sizing: border-box;
  display: block;
  position: relative;

  height: $s-day-height;

  border-color: $c-plain-background;
  border-style: solid;
  border-width: $s-day-border-width 0;

  background-color: $c-free;
}

.fl-msc-SubjectRow-event {
  box-sizing: border-box;
  display: block;
  position: absolute;

  height: 100%;
  background-color: white;
  outline: 4px solid $c-plain-background;
}

.fl-msc-SubjectRow-event--busy {
  background-color: $c-busy;
}

.fl-msc-SubjectRow-event--half-busy {
  background-color: $c-half-busy;
}
