.fl-msc-DatesPanel {

}


.fl-msc-DatesPanel-subjectsContainer {
  box-sizing: inherit;

  display: block;
}
//
// .fl-msc-subject {
//   box-sizing: inherit;
//
//   display: block;
//   white-space: nowrap;
// }
//
// .fl-msc-subject-name {
//   @include elipsis-overflow();
//   box-sizing: inherit;
//
//   display: inline-block;
//   width: $s-first-column-width;
//   max-width: $s-first-column-width;
// }

.fl-msc-SubjectRow {
  box-sizing: inherit;
  display: block;

  height: $s-day-height;
}

.fl-msc-SubjectRow-day {
  box-sizing: border-box;
  display: inline-block;

  width: $s-day-width;
  height: $s-day-height;

  border-color: $c-plain-background;
  border-style: solid;
  border-width: $s-day-border-width 0;

  background-color: $c-free;
}

.fl-msc-SubjectRow-day--busy {
  background-color: $c-busy;
}

.fl-msc-SubjectRow-day--half-busy {
  background-color: $c-half-busy;
}
