$s-month-side-margin: 3px;

.fl-msc-DateBar {
  display: inline-block;
  position: relative;
  height: $s-DateBar-height;
  z-index: 1;

  flex: 0 0;
  box-sizing: inherit;
  background-color: inherit;
}

.fl-msc-DateBar-monthRow,
.fl-msc-DateBar-dayRow {
  box-sizing: border-box;

  display: inline-flex;
  align-content: stretch;
  flex-flow: row nowrap;
  text-align: center;
}

.fl-msc-DateBar-month {
  box-sizing: content-box;

  display: inline-block;
  padding: .1em 0 .2em;

  background-color: $c-button-background;
  color: $c-button-text;

  // As we are using content-box, for the border not to be counted
  // in the size we use box-shadow for border.
  box-shadow: 0 0 0 1px $c-border inset;
  margin: 6px $s-month-side-margin 0;

  @for $i from 1 through 32 {
    &-#{$i} {
      width: calc(#{$s-day-width} * #{$i} - 2 * #{$s-month-side-margin});
    }
  }

  &:nth-of-type(1) {
    margin-left: 0;
    padding-left: $s-month-side-margin;
  }
}

.fl-msc-DateBar-day {
  box-sizing: border-box;
  display: inline-block;

  width: $s-day-width;
  height: $s-day-height;
  border: $s-day-border-width solid transparent;
}
