.fl-msc-DatesPanel {
  background-color: inherit;
}


.fl-msc-DatesPanel-subjectsContainer {
  box-sizing: inherit;

  display: block;
}

.fl-msc-SubjectRow {
  box-sizing: border-box;
  display: block;
  position: relative;

  height: $s-day-height;

  border-color: $c-plain-background;
  border-style: solid;
  border-width: $s-day-border-width 0;

  background-color: $c-free;
}

.fl-msc-SubjectRow-event {
  box-sizing: border-box;
  display: block;
  position: absolute;

  height: 100%;
  background-color: white;
  outline: 4px solid $c-plain-background;
}

.fl-msc-SubjectRow-event--busy {
  background-color: $c-busy;
}

.fl-msc-SubjectRow-event--half-busy {
  background-color: $c-half-busy;
}
