.fl-msc-header {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: flex;

  text-align: center;
}

.fl-msc-subjectsTitle {
  flex: 0 0 $first-column-width;
  display: inline-flex;
}

.fl-msc-subjectsTitle-text {
  @include inherit-font();
  @include elipsis-overflow();
  margin: auto;
  width: 100%;
}

.fl-msc-dateBar {
  flex: 0 0;
  display: inline-block;
}

.fl-msc-dateBar-monthRow,
.fl-msc-dateBar-dayRow {
  display: inline-flex;
  align-content: stretch;
  flex-flow: row nowrap;
}

.fl-msc-dateBar-month {
  display: inline-block;

  @for $i from 1 through 32 {
    &-#{$i} {
      width: ($day-width * $i);
    }
  }
}

.fl-msc-dateBar-day {
  width: $day-width;
  display: inline-block;
  border: $day-border-width solid transparent;
}
