.fl-msc-LabelsBar,
.fl-msc-LabelsBar-header,
.fl-msc-LabelsBar-labelsContainer,
.fl-msc-LabelsBar-label {
  box-sizing: border-box;
  background-color: inherit;
}


.fl-msc-LabelsBar {
  border:0;
  display: block;

  position: relative;
  background-color: inherit;
  width: $s-LabelsBar-width;
  max-width: $s-LabelsBar-width;
  min-width: $s-LabelsBar-width;
  z-index: 2;
}

.fl-msc-LabelsBar-header {
  // This is equivalend to the height of the month row plus the
  // height of the day row.
  height: (2 * $s-day-height);
  width: calc(100% - #{$s-labels-container-border-right});
  position: relative;

  background-color: $c-button-background;
  border: $s-labels-border-width solid $c-border;
  color: $c-button-text;

  text-align: center;
  line-height: (2 * $s-day-height);
}

.fl-msc-LabelsBar-labelsContainer {
  border: $s-labels-container-border-right solid $c-plain-background;
  border-width: 0 $s-labels-container-border-right 0 0;
}

.fl-msc-LabelsBar-label {
  height: $s-day-height;
  line-height: $s-day-height;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 .5em;
  border-width: 0 $s-labels-border-width $s-labels-border-width;
  border-style: solid;
  border-color: $c-border;
}
