.fl-msc-LabelsBar {
  box-sizing: inherit;
  border-style: solid;
  border-width: 2px 2px 2px 0;
  border-color: transparent;

  flex: 0 0 $first-column-width;
  display: inline-flex;
  flex-flow: column nowrap;
}

.fl-msc-LabelsBar-header {
  width: 100%;

  background-color: $c-button-background;
  color: $c-button-text;

  text-align: center;
}
