.fl-msc-LabelsBar,
.fl-msc-LabelsBar-header,
.fl-msc-LabelsBar-labelsContainer,
.fl-msc-LabelsBar-label {
  box-sizing: border-box;
  background-color: inherit;
}


.fl-msc-LabelsBar {
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: $c-plain-background;

  display: block;

  position: relative;
  background-color: inherit;
  width: $s-LabelsBar-width;
  z-index: 1;
}

.fl-msc-LabelsBar-header {
  // This is equivalend to the height of the month row plus the
  // height of the day row.
  height: (2 * $s-day-height);
  width: 100%;
  position: relative;

  border-width: $s-day-border-width 0 0;
  border-color: $c-plain-background;
  border-style: solid;

  background-color: $c-button-background;
  color: $c-button-text;

  text-align: center;
  line-height: (2 * $s-day-height);
}

.fl-msc-LabelsBar-labelsContainer {
}

.fl-msc-LabelsBar-label {
  height: $s-day-height;
  line-height: $s-day-height;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 .5em;
}
