//Select first child
.cal-popup {
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background-color: $gray;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
  transition: all 0.2s ease;
  pointer-events: none;
}
