// Colors
$c-text: #303030;
$c-plain-background: #f9f9f9;

// $c-button-background: darken($c-plain-background, 10%) ;
$c-button-background: white ;
$c-button-text: $c-text;

$c-month-background:#EEE;
$c-month-text: $c-text;

$c-main: #009ddc;
$c-main-text: $c-plain-background;

$c-border: darken($c-plain-background, 30%);

$c-busy: #E77E80;
$c-busy-text: $c-plain-background;

$c-free: #EEE;
$c-free-text:$c-plain-background;

$c-half-busy: #F5D082; // #fcb827;
$c-half-busy-text: $c-plain-background;

$c-ok: #42b382;
$c-ok-text: $c-plain-background;

$c-error: #e4585b;
$c-error-text: $c-plain-background;

// Measures
$s-first-column-width: 17em;
$s-day-width: 2em;
$s-day-height: 26px;
$s-day-border-width: 2px;

$s-panelWrapper-height: 500px;

$s-DateBar-height: 2 * $s-day-height;
$s-LabelsBar-width: 9 * $s-day-width;

$s-font-small: 10px;
$s-font-medium: 13px;

$s-labels-border-width: 1px;
$s-labels-container-border-right: 10px;

// Mixins
@mixin inherit-font() {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

@mixin elipsis-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hide-scrollbar() {
  &::-webkit-scrollbar {
    display: none;
    margin: -5px;
  }
}
