// Colors
$c-text: #303030;
$c-plain-background: #f9f9f9;

$c-button-background: darken($c-plain-background, 10%) ;
$c-button-text: $c-text;

$c-main: #009ddc;
$c-main-text: $c-plain-background;

$c-border: darken($c-plain-background, 10.9804);

$c-busy: #e4585b;
$c-busy-text: $c-plain-background;

$c-free: #42b382;
$c-free-text:$c-plain-background;

$c-half-busy: #fcb827;
$c-half-busy-text: $c-plain-background;


// Measures
$s-first-column-width: 17em;
$s-day-width: 2em;
$s-day-height: 1.5em;
$s-day-border-width: 2px;

// Mixins
@mixin inherit-font() {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

@mixin elipsis-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
}
