// Colors
$c-text: #303030;
$c-plain-background: #f9f9f9;

$c-button-background: darken($c-plain-background, 10%) ;
$c-button-text: $c-text;

$c-main: #2e9498;
$c-main-text: $c-plain-background;

$c-border: darken($c-plain-background, 10.9804);

$c-busy: #c43232;
$c-busy-text: $c-plain-background;

$c-free: #39ac6f;
$c-free-text:$c-plain-background;

$c-partially-free: #d4ad40;
$c-partially-text: $c-plain-background;


// Measures
$first-column-width: 10em;

// Mixins
@mixin inherit-font() {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
