//Colors
$green: #42b382;
$dark-green: darken($green, 10%);

$red: #E9585B;

$red-orange: #e53935;
$dark-red-orange: #ce3330;

$blue: #63A8EB;

$light-blue: lighten($blue, 10%);
$dark-blue: darken($blue, 10%);

$yellow: #ffc107;
$dark-yellow: #e4ad06;

$indigo: #3f51b5;
$dark-indigo: #324090;

$orange: #ff5722;
$dark-orange: #d94a1d;

$gray: #273238;
$dark-gray: #313131;

$light-gray: #E7EBEC;

$gray-sidebar: #969696;

$grayish-blue: #37474f;

$dark-grayish-blue: #2a363c;
$grayish-blue-text: #78909c;

$white: #fff;

$bg-color: #F1F4F5;

$text-color: #76828E;
$dark-text: #424242;


.multi-sub-calendar {
  position: absolute;
  padding: 10px;

  //Disable selection for the table dragging
 -webkit-user-select: none;   /* Chrome/Safari/Opera */
 user-select: none;

  tr:not(.th):hover  {
    -webkit-filter: brightness(90%);
    filter:brightness(90%);
  }

  td, th {
    padding: 0;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    max-width: 30px;
  }

  th {
    background-color: lighten($blue, 20%);
    padding: 0 5px;
    overflow: hidden;
  }

  td:first-of-type {
    background-color: white;
    max-width: none;
  }

  td {
    border: 5px solid transparent;
    background-color: lighten($green, 20%);
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    //Hover on all td except for the first one
    &:not(:first-child):hover {
      -webkit-filter: brightness(130%);
      filter:brightness(130%);
    }
  }

  .half-busy {
    background-color: lighten($yellow, 22%) !important;
  }

  .busy {
    background-color: lighten($red, 20%) !important;
  }

  .month0 {
    background-color: lighten($red, 20%) !important;
  }

  .month1 {
    background-color: lighten($green, 30%) !important;
  }

  .month2 {
    background-color: lighten($dark-blue, 20%) !important;
  }

}



//Select first child
.cal-popup {
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background-color: $gray;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
  transition: all 0.2s ease;
  pointer-events: none;
}

.cal-button-bar{
  display: inline-block;
  background-color:  lighten($blue, 20%);

  .cal-btn {
    background-color:  lighten($blue, 20%);
    border: none;
    text-align: center;
    vertical-align: bottom;
  }
  .cal-btn:hover{
    background-color:  lighten($blue, 25%);
  }
}

.cal-datepicker {
  display: inline;
  position: relative;
  min-width: 24px;
  min-height: 24px;
  padding: 0px 5px;
  margin: 0px;
  font-size: 18px;

  &::-webkit-datetime-edit,
  &::-webkit-inner-spin-button,
  &::-webkit-clear-button{
    display:none;
  }
  &::-webkit-calendar-picker-indicator,
  &::-webkit-calendar-picker-indicator:hover{
    background-color: $blue;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    // background-color: red;
  }
}

.cal-rows-wrapper {
  max-height: 100px;
  overflow: scroll;
  // display: block;
}
.cal-heading-wrapper {
  // display: block;
}

.multi-sub-cal-container {
  display: block;
  width: 100%;

  .cal-phantom-el{
    display: block;
    // background-color: rgba(255,0,0,.1);
    min-height: 100px;
  }
}
